@charset "UTF-8";
/* Slider */
.slick-loading .slick-list
{
    background: #fff url('./ajax-loader.gif') center center no-repeat;
}

/* Icons */
@font-face
{
    font-family: 'slick';
    font-weight: normal;
    font-style: normal;

    src: url('./fonts/slick.eot');
    src: url('./fonts/slick.eot?#iefix') format('embedded-opentype'), url('./fonts/slick.woff') format('woff'), url('./fonts/slick.ttf') format('truetype'), url('./fonts/slick.svg#slick') format('svg');
}
/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    z-index: 500;

    display: block;

    width: 20px;
    height: 20px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus
{
    color: transparent;
    outline: none;
    background: transparent;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before
{
    opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before
{
    opacity: .25;
}

.slick-prev:before,
.slick-next:before
{
    font-family: 'slick';
    font-size: 10px;
    line-height: 1;

    opacity: .75;
    color: white;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev
{
    left: 325px;
}
[dir='rtl'] .slick-prev
{
    right: 22%;
    left: auto;
}
.slick-prev:before
{
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("left-button.png");
    background-size: contain;
    vertical-align: middle;
}
[dir='rtl'] .slick-prev:before
{
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("right-button.png");
    background-size: contain;
    vertical-align: middle;
}

.slick-next
{
    right: 22%;
}
[dir='rtl'] .slick-next
{
    right: auto;
    left: 18%;
}
.slick-next:before
{
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("right-button.png");
    background-size: contain;
    vertical-align: middle;
}
[dir='rtl'] .slick-next:before
{
    content: "";
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("left-button.png");
    background-size: contain;
    vertical-align: middle;
}


